# ODDS_PROVIDER=odds-api-io

ODDS_PROVIDER=odds-api-io
ODDS_API_KEY=YOUR_KEY_HERE

ODDS_BOOKMAKERS=FanDuel,DraftKings,BetMGM,Caesars,Fanatics,Bovada,Stake,Fliff,Bet365,BetRivers,HardRock,Pinnacle,PointsBet
ODDS_FANTASY_BOOKS=PrizePicks,Underdog


# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=YOUR_URL_HERE
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_KEY_HERE
SUPABASE_SERVICE_ROLE_KEY=YOUR_KEY_HERE
# App Configuration
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ElevenLabs Speech-to-Text (Server-side only - DO NOT use NEXT_PUBLIC prefix)
ELEVENLABS_API_KEY=YOUR_API_HERE

# Vercel CLI
VERCEL_TOKEN=YOUR_TOKEN_HERE

# OPEN AI KEY
OPENAI_API_KEY=YOUR_API_KEY_HERE
